{% load static %}

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% else %}collapsed{% endif %}"
               href="{% url 'authapp:home' %}">
                <i class="bi bi-grid"></i>
                <span>Главная</span>
            </a>
        </li>

        {% if user.is_authenticated %}
            {% with app=request.resolver_match.app_name rn=request.resolver_match.url_name %}
                {% if user.is_superuser or perms.documents_app.view_box_label_page or perms.documents_app.add_documentbatch or perms.documents_app.view_documentbatch %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'documents' %}active{% else %}collapsed{% endif %}"
                           data-bs-target="#documents-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-folder2-open"></i>
                            <span>Документы</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="documents-nav"
                            class="nav-content collapse {% if app == 'documents' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">
                            {% if user.is_superuser or perms.documents_app.view_box_label_page %}
                                <li>
                                    <a href="{% url 'documents:box_label_page' %}"
                                       class="{% if rn == 'box_label_page' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Наклейка на коробку</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.documents_app.view_documentbatch %}
                                <li>
                                    <a href="{% url 'documents:id_handover_batch_list' %}"
                                       class="{% if rn == 'id_handover_batch_list' or rn == 'id_handover_batch_detail' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Список комплектов</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.documents_app.add_documentbatch or perms.documents_app.view_documentbatch %}
                                <li>
                                    <a href="{% url 'documents:id_handover_master' %}"
                                       class="{% if rn == 'id_handover_master' or rn == 'id_handover_batch_master' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Создать комплект</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if user.is_superuser or perms.acts_app.view_act or perms.acts_app.add_act %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'acts_app' %}active{% else %}collapsed{% endif %}"
                           data-bs-target="#acts-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-file-earmark-text"></i>
                            <span>Акты</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="acts-nav"
                            class="nav-content collapse {% if app == 'acts_app' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">
                            {% if user.is_superuser or perms.acts_app.view_act %}
                                <li>
                                    <a href="{% url 'acts_app:act_list' %}"
                                       class="{% if rn == 'act_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Все акты</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'acts_app:protocol_list' %}"
                                       class="{% if rn == 'protocol_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Протоколы</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'acts_app:act_bulk_export' %}"
                                       class="{% if rn == 'act_bulk_export' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Выгрузка за период</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if user.is_superuser or perms.passports_app.view_passports_page %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'passports' and rn == 'passports_list' %}active{% else %}collapsed{% endif %}"
                           href="{% url 'passports:passports_list' %}">
                            <i class="bi bi-journal-text"></i>
                            <span>Паспорта</span>
                        </a>
                    </li>
                {% endif %}

                {% if user.is_superuser or perms.projects_app.view_projects_page %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'projects' and rn == 'projects_list' %}active{% else %}collapsed{% endif %}"
                           href="{% url 'projects:projects_list' %}">
                            <i class="bi bi-hdd-stack"></i>
                            <span>Проекты</span>
                        </a>
                    </li>
                {% endif %}

                {% if user.is_superuser or perms.directive_app.view_directive %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'directive_app' and rn == 'directive_list' %}active{% else %}collapsed{% endif %}"
                           href="{% url 'directive_app:directive_list' %}">
                            <i class="bi bi-person-square"></i>
                            <span>Приказы</span>
                        </a>
                    </li>
                {% endif %}

                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'backup_app' %}active{% else %}collapsed{% endif %}"
                           href="{% url 'backup_app:backup_list' %}">
                            <i class="bi bi-archive"></i>
                            <span>Бэкапы</span>
                        </a>
                    </li>
                {% endif %}

                {% if user.is_superuser or perms.orgs_app.view_organization or perms.orgs_app.view_person or perms.orgs_app.view_personnrs %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'orgs_app' %}active{% else %}collapsed{% endif %}"
                           data-bs-target="#orgs-app-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-building"></i>
                            <span>Организации</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="orgs-app-nav"
                            class="nav-content collapse {% if app == 'orgs_app' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">
                            {% if user.is_superuser or perms.orgs_app.view_organization %}
                                <li>
                                    <a href="{% url 'orgs_app:organization_list' %}"
                                       class="{% if rn == 'organization_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Организации</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.orgs_app.view_person %}
                                <li>
                                    <a href="{% url 'orgs_app:person_list' %}"
                                       class="{% if rn == 'person_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Люди</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.orgs_app.view_personnrs %}
                                <li>
                                    <a href="{% url 'orgs_app:personnrs_list' %}"
                                       class="{% if rn == 'personnrs_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>НРС</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if user.is_superuser or perms.approvals_app.view_approvals_done_page or perms.approvals_app.view_approvals_pending_page %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'approvals' %}active{% else %}collapsed{% endif %}"
                           data-bs-target="#approval-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-briefcase-fill"></i>
                            <span>Согласования</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="approval-nav"
                            class="nav-content collapse {% if app == 'approvals' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">
                            {% if user.is_superuser or perms.approvals_app.view_approvals_done_page %}
                                <li>
                                    <a href="{% url 'approvals:done' %}"
                                       class="{% if rn == 'done' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Все согласования</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.approvals_app.view_approvals_pending_page %}
                                <li>
                                    <a href="{% url 'approvals:pending' %}"
                                       class="{% if rn == 'pending' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>На согласовании</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endwith %}

            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.app_name == 'statistics_app' %}active{% else %}collapsed{% endif %}"
                       href="{% url 'statistics_app:dashboard' %}">
                        <i class="bi bi-bar-chart-line"></i>
                        <span>Статистика</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'admin:index' %}">
                        <i class="bi bi-shield-lock"></i>
                        <span>Админка</span>
                    </a>
                </li>
            {% endif %}

            <li class="nav-heading">Аккаунт</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="bi bi-person"></i>
                    <span>Профиль</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'authapp:logout' %}">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Выйти</span>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'authapp:login' %}">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Войти</span>
                </a>
            </li>
        {% endif %}
    </ul>
</aside>
