{% load static %}

<aside id="sidebar" class="sidebar">

    {% with app=request.resolver_match.app_name rn=request.resolver_match.url_name %}
        <ul class="sidebar-nav" id="sidebar-nav">

            <!-- Главная -->
            <li class="nav-item">
                <a class="nav-link {% if app == 'authapp' and rn == 'home' %}active{% else %}collapsed{% endif %}"
                   href="{% url 'authapp:home' %}">
                    <i class="bi bi-grid"></i>
                    <span>Главная</span>
                </a>
            </li>

            {% if user.is_authenticated %}

                <!-- Документы -->
                {% if user.is_superuser or perms.documents_app.view_box_label_page or perms.documents_app.add_documentbatch or perms.documents_app.view_documentbatch %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'documents' %}{% else %}collapsed{% endif %}"
                           data-bs-target="#documents-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-folder2-open"></i>
                            <span>Документы</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="documents-nav"
                            class="nav-content collapse {% if app == 'documents' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">

                            {% if user.is_superuser or perms.documents_app.view_box_label_page %}
                                <li>
                                    <a href="{% url 'documents:box_label_page' %}"
                                       class="{% if rn == 'box_label_page' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Наклейка на коробку</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.documents_app.view_documentbatch %}
                                <li>
                                    <a href="{% url 'documents:id_handover_batch_list' %}"
                                       class="{% if rn == 'id_handover_batch_list' or rn == 'id_handover_batch_detail' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Список комплектов</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.documents_app.add_documentbatch or perms.documents_app.view_documentbatch %}
                                <li>
                                    <a href="{% url 'documents:id_handover_master' %}"
                                       class="{% if rn == 'id_handover_master' or rn == 'id_handover_batch_master' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Создать комплект</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <!-- end Документы -->

                <!-- Акты -->
                {% if user.is_superuser or perms.acts_app.view_act or perms.acts_app.add_act %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'acts_app' %}{% else %}collapsed{% endif %}"
                           data-bs-target="#acts-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-file-earmark-text"></i>
                            <span>Акты</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="acts-nav"
                            class="nav-content collapse {% if app == 'acts_app' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">

                            {% if user.is_superuser or perms.acts_app.view_act %}
                                <li>
                                    <a href="{% url 'acts_app:act_list' %}"
                                       class="{% if rn == 'act_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Все акты</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'acts_app:protocol_list' %}"
                                       class="{% if rn == 'protocol_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Протоколы</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.acts_app.add_act %}
                                <li>
                                    <a href="{% url 'acts_app:act_create' %}"
                                       class="{% if rn == 'act_create' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Создать акт</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <!-- end Акты -->

                <!-- Паспорта -->
                {% if user.is_superuser or perms.passports_app.view_passports_page or perms.passports_app.add_passport %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'passports' %}{% else %}collapsed{% endif %}"
                           data-bs-target="#passports-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-journal-text"></i>
                            <span>Паспорта</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="passports-nav"
                            class="nav-content collapse {% if app == 'passports' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">

                            {% if user.is_superuser or perms.passports_app.view_passports_page %}
                                <li>
                                    <a href="{% url 'passports:passports_list' %}"
                                       class="{% if rn == 'passports_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Все паспорта</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.passports_app.add_passport %}
                                <li>
                                    <a href="{% url 'passports:passports_add' %}"
                                       class="{% if rn == 'passports_add' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Добавить паспорта</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <!-- End Passports -->

                <!-- Реестры -->
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'registry' %}{% else %}collapsed{% endif %}"
                           data-bs-target="#registry-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-card-list"></i>
                            <span>Реестры</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="registry-nav"
                            class="nav-content collapse {% if app == 'registry' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">
                            <li>
                                <a href="{% url 'passports:passports_list' %}"
                                   class="{% if rn == 'registry_create' %}active{% endif %}">
                                    <i class="bi bi-circle"></i>
                                    <span>Создать реестр</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <!-- End Реестры -->

                <!-- Проекты -->
                {% if user.is_superuser or perms.projects_app.view_projects_page %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'projects' %}{% else %}collapsed{% endif %}"
                           data-bs-target="#projects-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-hdd-stack"></i>
                            <span>Проекты</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="projects-nav"
                            class="nav-content collapse {% if app == 'projects' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">

                            <li>
                                <a href="{% url 'projects:projects_list' %}"
                                   class="{% if rn == 'projects_list' %}active{% endif %}">
                                    <i class="bi bi-circle"></i>
                                    <span>Все проекты</span>
                                </a>
                            </li>

                            {% if user.is_superuser or perms.projects_app.add_project %}
                                <li>
                                    <a href="{% url 'projects:project_create' %}"
                                       class="{% if rn == 'project_create' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Добавить проект</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <!-- End Проекты -->

                <!-- Приказы -->
                {% if user.is_superuser or perms.directive_app.view_directive or perms.directive_app.add_directive %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'directive_app' %}{% else %}collapsed{% endif %}"
                           data-bs-target="#directive-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-person-square"></i>
                            <span>Приказы</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="directive-nav"
                            class="nav-content collapse {% if app == 'directive_app' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">

                            {% if user.is_superuser or perms.directive_app.view_directive %}
                                <li>
                                    <a href="{% url 'directive_app:directive_list' %}"
                                       class="{% if rn == 'directive_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Все приказы</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.directive_app.add_directive %}
                                <li>
                                    <a href="{% url 'directive_app:directive_create' %}"
                                       class="{% if rn == 'directive_create' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Добавить приказ</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <!-- End Directives -->

                <!-- Организации -->
                {% if user.is_superuser or perms.orgs_app.view_organization or perms.orgs_app.view_person or perms.orgs_app.view_personnrs %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'orgs_app' %}{% else %}collapsed{% endif %}"
                           data-bs-target="#orgs-app-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-building"></i>
                            <span>Организации</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="orgs-app-nav"
                            class="nav-content collapse {% if app == 'orgs_app' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">

                            {% if user.is_superuser or perms.orgs_app.view_organization %}
                                <li>
                                    <a href="{% url 'orgs_app:organization_list' %}"
                                       class="{% if rn == 'organization_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Организации</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.orgs_app.view_person %}
                                <li>
                                    <a href="{% url 'orgs_app:person_list' %}"
                                       class="{% if rn == 'person_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Люди</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.orgs_app.view_personnrs %}
                                <li>
                                    <a href="{% url 'orgs_app:personnrs_list' %}"
                                       class="{% if rn == 'personnrs_list' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>НРС</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <!-- End Организации -->

                <!-- Согласования -->
                {% if user.is_superuser or perms.approvals_app.view_approvals_done_page or perms.approvals_app.view_approvals_pending_page %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'approvals' %}{% else %}collapsed{% endif %}"
                           data-bs-target="#approval-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-briefcase-fill"></i>
                            <span>Согласования</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="approval-nav"
                            class="nav-content collapse {% if app == 'approvals' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">

                            {% if user.is_superuser or perms.approvals_app.view_approvals_done_page %}
                                <li>
                                    <a href="{% url 'approvals:done' %}"
                                       class="{% if rn == 'done' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Все согласования</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.approvals_app.view_approvals_pending_page %}
                                <li>
                                    <a href="{% url 'approvals:pending' %}"
                                       class="{% if rn == 'pending' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>На согласовании</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <!-- End Согласования -->

                <!-- Checker -->
                {% if user.is_superuser or perms.checker_app.view_checker_section or perms.checker_app.check_projects_and_folder_page or perms.checker_app.check_doc_acts_page or perms.checker_app.check_directive_checker_page %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'checker_app' %}{% else %}collapsed{% endif %}"
                           data-bs-target="#checker-nav"
                           data-bs-toggle="collapse"
                           href="#">
                            <i class="bi bi-check-circle"></i>
                            <span>Checker</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>

                        <ul id="checker-nav"
                            class="nav-content collapse {% if app == 'checker_app' %}show{% endif %}"
                            data-bs-parent="#sidebar-nav">

                            {% if user.is_superuser or perms.checker_app.check_projects_and_folder_page %}
                                <li>
                                    <a href="{% url 'checker_app_check_projects_and_folder' %}"
                                       class="{% if rn == 'checker_app_check_projects_and_folder' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Проверить шифр в актах</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.checker_app.check_doc_acts_page %}
                                <li>
                                    <a href="{% url 'check_doc_acts' %}"
                                       class="{% if rn == 'check_doc_acts' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Проверить наличие .doc</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if user.is_superuser or perms.checker_app.check_doc_structure %}
                                <li>
                                    <a href="{% url 'act_structure_page' %}"
                                       class="{% if rn == 'act_structure_page' %}active{% endif %}">
                                        <i class="bi bi-circle"></i>
                                        <span>Структура документа</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <!-- End Checker -->

                <!-- Админка -->
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'admin' %}active{% else %}collapsed{% endif %}"
                           href="{% url 'admin:index' %}">
                            <i class="bi bi-shield-lock"></i>
                            <span>Админка</span>
                        </a>
                    </li>
                {% endif %}

                <!-- Аккаунт -->
                <li class="nav-heading">Аккаунт</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#">
                        <i class="bi bi-person"></i>
                        <span>Профиль</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'authapp:logout' %}">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Выйти</span>
                    </a>
                </li>

            {% else %}

                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'authapp:login' %}">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Войти</span>
                    </a>
                </li>

            {% endif %}

        </ul>
    {% endwith %}

</aside>